<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/html">
    {{if or .Success .Failure}}
    <meta http-equiv="refresh" content="2;url=/" />
    {{end}}
    <title>{{.Title}}</title>
    <style>
        .label {
            display: inline-flex;
            width: 160px;
            margin-bottom: 8px;
        }

        form input[type=checkbox] {
            margin-left: 0;
            margin-top: 4px;
            margin-bottom: 8px;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script src="script.js" type="text/javascript"></script>
    <script type="text/javascript">
        const Datas = new Map([
            {{range .Datas}}
                ["{{.Name}}","{{.Content}}"],
            {{end}}
        ]);
        window.onLoad = function() { console.log('hallo'); };
    </script>
</head>
<body>
<div style="width: 750px; margin: auto;">
    <br>
    <img alt="" src="data:image/png;base64, {{.Logo}}" class="center"/>
    <h1 style="text-align:center">{{.Title}}</h1>
    <h3 style="text-align:center">Kid: {{.Tenant}}</h3>
    <h3 style="text-align:center">Tenant: {{.Kid}}</h3>
    <h3 style="text-align:center">Sub: {{.Sub}}</h3>
    <br>
    {{if .Success}} <h2 style="color: White; background-color: MediumSeaGreen; text-align:center">{{.Msg}}</h2> {{else}} {{if .Failure}} <h2 style="color: White; background-color: Crimson; text-align:center">{{.Statuscode}} {{.Msg}}</h2>{{end}}{{end}}
    <div style="float: left;">
        <form method="POST" action="/patient">
            <fieldset>
                <legend>Patient</legend>

                <label for="ID" class="label">ID</label>
                <input type="text" id="ID" name="ID" autofocus required/><br>

                <label for="LastName" class="label">LastName</label>
                <input type="text" id="LastName" name="LastName" required/><br>

                <label for="FirstName" class="label">FirstName</label>
                <input type="text" id="FirstName" name="FirstName" required/><br>

                <label for="BirthDate" class="label">BirthDate</label>
                <input type="date" id="BirthDate" name="BirthDate" required/><br>

                <fieldset>
                    <legend>Sex</legend>
                    <input type="radio" name="Sex" value="FEMALE" checked>Female<br>
                    <input type="radio" name="Sex" value="MALE" required>Male<br>
                    <input type="radio" name="Sex" value="">Undefined<br>
                </fieldset>

                <input type="checkbox" id="Worklist" name="Worklist" value="true" checked>Worklist<br>

                <input type="submit">
            </fieldset>
        </form>
    </div>
    <div style="float: right;">
        <form method="POST" action="/order">
            <fieldset>
                <legend>Appointment/Order</legend>
                <fieldset id="Kind" style="margin-bottom: 8px;">
                    <input type="radio" name="Kind" value="APPOINTMENT" required checked>Appointment<br>
                    <input type="radio" name="Kind" value="ORDER">Order<br>
                </fieldset>

                <label for="ID" class="label">ID</label>
                <input type="text" id="ID" name="ID" required/><br>

                <label for="AccessionNumber" class="label">AccessionNumber</label>
                <input type="text" id="AccessionNumber" name="AccessionNumber" required/><br>

                <label for="StartDate" class="label">StartDate</label>
                <input type="date" id="StartDate" name="StartDate" value="{{.CurrentDate}}" required/><br>

                <label for="EndDate" class="label">EndDate</label>
                <input type="date" id="EndDate" name="EndDate" value="{{.CurrentDate}}" required/><br>

                <fieldset id="Status" style="margin-bottom: 8px;">
                    <legend>Status</legend>
<!--
                    <input type="radio" name="Status" value="proposed" required>Proposed<br>
                    <input type="radio" name="Status" value="pending">Pending<br>
-->
                    <input type="radio" name="Status" value="booked" checked>Booked<br>
<!--
                    <input type="radio" name="Status" value="arrived">Arrived<br>
                    <input type="radio" name="Status" value="fulfilled">Fulfilled<br>
-->
                    <input type="radio" name="Status" value="cancelled">Cancelled<br>
<!--
                    <input type="radio" name="Status" value="noshow">Nowshow<br>
                    <input type="radio" name="Status" value="entered-in-error">Entered-in-error<br>
                    <input type="radio" name="Status" value="checked-in">Checked-in<br>
                    <input type="radio" name="Status" value="waitlist">Waitlist<br>
-->
                </fieldset>

                <input type="submit">
            </fieldset>
        </form>
    </div>
    <div style="float: none;">
        <form method="POST" action="/patient">
            <fieldset>
                <legend>Data</legend>

                <label for="data" class="label">ID</label>
                <select name="data" id="data">
                {{range .Datas }}<option value="{{.Name}}">{{.Name}}</option>
                {{end }}</select>
                <input type="submit">
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
